<form
    [ngClass]="form.classes"
    [formGroup]="form"
    [fxFlex]="form.fx_flex"
    [fxLayout]="form.fx_layout"
    [fxLayoutAlign]="form.fx_layout_align"
    >
    <app-flex-form-container [ngClass]="form.flex_form_container_classes">
        <ng-container *ngFor="let field of form.fields">
            <h3
                *ngIf="field.type === 'title'"
                [ngClass]="field.classes"
                [fxFlex]="field.fx_flex"
                >
                {{ field.content }}
            </h3>
            <mat-form-field
                [fxFlex]="field.fx_flex"
                >
                <input
                    matInput
                    *ngIf="field.type === 'input'"
                    [type]="field.input_type"
                    [placeholder]="field.placeholder"
                    [formControlName]="field.form_control_name"
                    >
                <mat-select
                    *ngIf="field.type === 'select'"
                    [placeholder]="field.placeholder"
                    [formControlName]="field.form_control_name"
                    >
                    <mat-option
                        *ngFor="let option of field.options"
                        [value]="option.value"
                        >
                        {{ option.displayed_value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <app-drf-collection-autocomplete
                *ngIf="field.type === 'autocomplete'"
                [fxFlex]="field.fx_flex"
                [service]="field.service"
                [activeOption]="field.active_option"
                [searchField]="field.searchField"
                [placeholder]="field.placeholder"
                (optionSelected)="field.optionSelected(field.key, $event.option.value)"
                >
            </app-drf-collection-autocomplete>
        </ng-container>
    </app-flex-form-container>
</form>
