<div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="16px"
    class="width-100"
    >
    <app-table
        *ngIf="charges.results"
        fxFlex="1 1 100"
        [columns]="columns"
        [service]="chargesService"
        [rows]="charges.results"
        [tableClasses]="tableClasses"
        [collection]="charges"
        (edit)="goToElement($event)"
        (delete)="service.delete($event.id)"
        >
    </app-table>
    <div fxFlex fxHide.lt-md>
        <mat-list
            *ngIf="showActions"
            >
            <mat-list-item>
                <!-- [routerLink]="0" -->
                <button
                    mat-raised-button
                    name="new"
                    color="primary"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    (click)="createElement()"
                    >
                    <!-- style="height: 56px; width:56px" -->
                    <!-- <button
                        mat-fab
                        name="new"
                        color="primary"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        >
                    </button> -->
                    <mat-icon>add</mat-icon>
                    New charge
                </button>
            </mat-list-item>
        </mat-list>
    </div>
</div>
