<div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="16px"
    class="width-100"
    >
    <app-table
        *ngIf="charges.results"
        fxFlex="1 1 100"
        [columns]="columns"
        [service]="chargesService"
        [rows]="charges.results"
        [tableClasses]="tableClasses"
        [collection]="charges"
        (edit)="goToElement($event)"
        (delete)="service.delete($event.id)"
        >
    </app-table>
    <app-responsive-actions
        #responsiveActions
        [actions]="actions_model"
        (actionClick)="actionClick($event)"
        >
    </app-responsive-actions>
</div>
