<div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="16px"
    class="width-100"
    >
    <app-table
        *ngIf="contract_types.results"
        fxFlex="1 1 100"
        [service]="contractTypesService"
        [columns]="columns"
        [rows]="contract_types.results"
        [tableClasses]="tableClasses"
        (edit)="goToElement($event)"
        [collection]="contract_types"
        >
    </app-table>
    <app-responsive-actions
        *ngIf="showActions"
        #responsiveActions
        [actions]="actions_model"
        (actionClick)="actionClick($event)"
        >
    </app-responsive-actions>
</div>
