<div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="width-100 height-100"
    [style.background]="'url(/assets/images/wine-field.jpg)'"
    [style.background-size]="'cover'"
    >
    <div
        [ngStyle.gt-sm]="{ height: '500px', width: '400px' }"
        style="background-color: white"
        ngClass.gt-sm="mat-elevation-z2"
        ngClass.lt-md="height-100 width-100"
        >
        <form [formGroup]="change_password_form" class="height-100" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/images/demeter.png" alt="demeter" width="150px">
            <mat-form-field>
                <input matInput type="password" formControlName="new_password" placeholder="New password">
                <mat-error *ngIf="change_password_form.controls.new_password.invalid">This field cannot be empty</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="new_password_confirmation" placeholder="Confirm your new password">
                <mat-error *ngIf="change_password_form.controls.new_password_confirmation.invalid">This field cannot be empty</mat-error>
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="changePassword()"><mat-icon>send</mat-icon></button>
        </form>
    </div>
</div>
