<form
    fxFlex="1 1 100"
    class="height-100 app-form"
    [formGroup]="profile_form"
    fxLayout="column"
    fxLayoutAlign="start center"
    >
    <app-flex-form-container>
        <mat-form-field
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <input matInput type="text" placeholder="Name" formControlName="first_name">
        </mat-form-field>
        <mat-form-field
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <input matInput type="text" placeholder="Last name" formControlName="last_name">
        </mat-form-field>
        <mat-form-field
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <input matInput type="number" placeholder="CUIT/CUIL" formControlName="cuit">
        </mat-form-field>
        <mat-checkbox
            fxFlex="100"
            [checked]="profile.pinned"
            (change)="updateForm('pinned', $event.checked)"
            >
            {{ 'Pin to dashboard' | translate }}
        </mat-checkbox>
        <mat-form-field
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <input matInput [matDatepicker]="birth_date_picker" placeholder="Birth date" formControlName="birth_date">
            <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
            <mat-datepicker #birth_date_picker></mat-datepicker>
        </mat-form-field>
        <!-- <h3 class="mat-subheading-2">Company profile data</h3> -->
        <mat-form-field *ngIf="roles"
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <mat-select placeholder="Role" formControlName="role" [compareWith]="compareById">
                <mat-option *ngFor="let role of roles.results" [value]="role">{{ role.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <input matInput type="number" placeholder="Daily working hours" formControlName="daily_working_hours">
        </mat-form-field>
        <mat-form-field *ngIf="fields"
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <mat-select placeholder="Field" formControlName="field" [compareWith]="compareById">
                <mat-option *ngFor="let field of fields.results" [value]="field">{{ field.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field
            *ngIf="charges"
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <mat-select placeholder="Charge" formControlName="charge" [value]="profile.charge">
                <mat-option *ngFor="let charge of charges.results" [value]="charge">{{ charge.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field
            *ngIf="contract_types"
            fxFlex.gt-sm="calc(33% - 8px)"
            >
            <mat-select placeholder="Contract type" formControlName="contract_type" [value]="profile.contract_type">
                <mat-option *ngFor="let contract_type of contract_types.results" [value]="contract_type">{{ contract_type.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </app-flex-form-container>
    <h3 class="mat-subheading-1" fxFlex="100">User data</h3>
    <form
        fxFlex="1 1 100"
        class="height-100 app-form"
        [formGroup]="related_user_form"
        fxLayout="column"
        fxLayoutAlign="start center"
        >
        <app-flex-form-container>
            <mat-checkbox
                #updateRelatedUser
                fxFlex.gt-sm="calc(50% - 8px)"
                >
                Create/update related user
            </mat-checkbox>
            <mat-form-field
                fxFlex.gt-sm="calc(50% - 8px)"
                >
                <input matInput type="text" placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field
                fxFlex.gt-sm="calc(50% - 8px)"
                >
                <input matInput type="text" placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field
                fxFlex.gt-sm="calc(50% - 8px)"
                >
                <input matInput type="text" placeholder="Repeat password" formControlName="repeat_password">
            </mat-form-field>
        </app-flex-form-container>
    </form>
    <h3 class="mat-subheading-1" fxFlex="100">Contact data</h3>
    <app-contact-form
        class="width-100"
        #contactForm
        [contact]="profile?.contact"
        (contactUpdate)="updateContact($event)"
        >
    </app-contact-form>
</form>
