<mat-tab-group #tabGroup>
    <mat-tab>
        <ng-template
            id="profiles"
            mat-tab-label
            >
            Profiles
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToProfile($event)" -->
            <app-profiles
                class="width-100"
                [showActions]="true"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                #profiles
                >
            </app-profiles>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template
            id="charges"
            mat-tab-label
            >
            Charges
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToCharge($event)" -->
            <app-charges
                class="width-100"
                [showActions]="true"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                #charges
                >
            </app-charges>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template
            id="contract_types"
            mat-tab-label
            >
            Contract types
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToContractType($event)" -->
            <app-contract-types
                class="width-100"
                [showActions]="true"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                #contractTypes
                >
            </app-contract-types>
        </div>
    </mat-tab>
</mat-tab-group>
