<form [formGroup]="search_form">
    <mat-form-field>
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
                *ngFor="let option of selected_options"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(option)"
                >
                {{ fruit }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <!-- <input
                placeholder="New fruit..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                > -->
            <input
                type="text"
                placeholder="{{ placeholder || 'Buscar' }}"
                matInput
                #chipsAutocompleteInput
                formControlName="search"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected.emit($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)"
                >
                {{fruit}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="New fruit..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field> -->
</form>
