<h1 mat-dialog-title>Field Supply Stock</h1>
<div mat-dialog-content>
    <app-field-supply-stock-form
        #fieldSupplyStockForm
        [field_supply_stock]="data.field_supply_stock"
        [field]="data.field"
        fxLayout="row wrap"
        fxLayoutGap="16px"
        >
    </app-field-supply-stock-form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="save()">Save</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>
