<form class="height-100 app-basic-padding" [formGroup]="field_form" fxLayout="column" fxLayoutAlign="start center">
    <h3 class="mat-subheading-1">Field data</h3>
    <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field *ngIf="profiles">
        <mat-select placeholder="Manager" formControlName="manager">
            <mat-option *ngFor="let profile of profiles" value="profile">{{ profile.first_name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Details" formControlName="details"></textarea>
    </mat-form-field>
    <app-drf-collection-autocomplete
        [service]="profilesService"
        [activeOption]="field?.manager"
        searchField="first_name"
        placeholder="Manager"
        (optionSelected)="updateForm('manager', $event.option.value)"
        >
    </app-drf-collection-autocomplete>
    <app-contact-form
        [contact]="field.contact"
        (contactUpdate)="updateFieldContact($event)"
        >
    </app-contact-form>
    <!-- <mat-checkbox formControlName="active">Active</mat-checkbox>
    <button mat-button (click)="save()">Save</button> -->
</form>
