<h3
    *ngIf="dataSource?.data?.length === 0 || !displayedColumns"
    class="mat-subheading-2"
    >
    {{ 'This table is empty, you can start adding some resources.' | translate }}
</h3>
<mat-table
    [dataSource]="dataSource"
    [ngClass]="tableClasses || 'mat-elevation-z2'"
    *ngIf="displayedColumns && dataSource?.data?.length > 0"
    >
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <mat-header-cell *matHeaderCellDef>{{ column.title }}</mat-header-cell>
        <!-- fxFlex="1 1 auto" -->
        <mat-cell
            *matCellDef="let element"
            fxLayout="row"
            fxLayoutGap="8px"
            fxLayoutAlign="{{ column.align || 'start center' }}"
            style="padding-top: 8px; padding-bottom: 8px; cursor: pointer"
            >
            <ng-container *ngIf="column.icon">
                <mat-icon>{{ column.icon }}</mat-icon>
            </ng-container>
            <ng-container *ngIf="column.avatar">
                <ngx-avatar [name]="column.accessNestedProperty(element, column.key)"></ngx-avatar>
            </ng-container>
            <ng-container *ngIf="column.pipe">
                <span>
                    {{ column.accessNestedProperty(element, column.key) | dynamic: column.pipe.pipe : (column.pipe.arg || element[column.pipe.element_key_arg]) }}
                </span>
            </ng-container>
            <ng-container
                [ngTemplateOutlet]="column.template"
                [ngTemplateOutletContext]="{element: element}"
                >
            </ng-container>
            <ng-container *ngIf="!column.pipe && !column.template">
                <span>
                    {{ column.accessNestedProperty(element, column.key) }}
                </span>
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick.emit(row)"></mat-row>
</mat-table>
<mat-paginator
    #paginator
    class="mat-elevation-z2"
    [length]="10"
    [pageSize]="10"
    [hidePageSize]="true"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="updatePage($event)"
    >
</mat-paginator>
