<mat-tab-group #tabGroup (selectedTabChange)="selectedTabChange($event)">
    <mat-tab>
        <ng-template
            id="supply-data-tab"
            mat-tab-label
            >
            {{ 'Supply data' | translate }}
        </ng-template>
        <div
            style="padding: 16px;"
            fxLayout="row"
            fxLayoutGap="16px"
            mat-tab-content
            >
            <mat-accordion
                class="width-100"
                >
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header fxLayout="row">
                        <mat-panel-title>
                            {{ 'Supply data' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form
                        fxFlex="1 1 100"
                        class="height-100 app-form"
                        [formGroup]="supply_form"
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        >
                        <app-flex-form-container>
                            <!-- <mat-checkbox
                                fxFlex="100"
                                [checked]="supply?.pinned"
                                (change)="updateForm('pinned', $event.checked)"
                                >
                                {{ 'Pin to dashboard' | translate }}
                            </mat-checkbox> -->
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Name' | translate }}" formControlName="name">
                            </mat-form-field>
                            <mat-form-field *ngIf="fields"
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Field' | translate }}" formControlName="field" [compareWith]="compareById">
                                    <mat-option *ngFor="let field of fields.results" [value]="field">{{ field.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'Price' | translate }}" formControlName="price">
                            </mat-form-field>
                            <mat-form-field *ngIf="measure_units"
                                fxFlex.gt-sm="calc(25% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Measure unit' | translate }}" formControlName="measure_unit" [compareWith]="compareById">
                                    <mat-option *ngFor="let measure_unit of measure_units.results" [value]="measure_unit.id">{{ measure_unit.id }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(25% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'Actual stock' | translate }}" formControlName="actual_stock">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(25% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'Pending stock' | translate }}" formControlName="pending_stock">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(25% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'Desired stock' | translate }}" formControlName="desired_stock">
                            </mat-form-field>
                        </app-flex-form-container>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-list fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" fxHide.lt-md>
                <button
                    mat-raised-button
                    name="save"
                    color="primary"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    (click)="save()"
                    >
                    <!-- style="height: 56px; width:56px" -->
                    <!-- <button
                        mat-fab
                        name="new"
                        color="primary"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        >
                    </button> -->
                    <mat-icon>save</mat-icon>
                    {{ 'Save' | translate }}
                </button>
                <button
                    mat-raised-button
                    name="cancel"
                    color="primary"
                    style="background-color: #f44336 !important"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    [routerLink]="'..'"
                    >
                    <!-- style="height: 56px; width:56px" -->
                    <!-- <button
                    mat-fab
                    name="new"
                    color="primary"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    >
                    </button> -->
                    <mat-icon>cancel</mat-icon>
                    {{ 'Cancel' | translate }}
                </button>
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template
            id="supply-transactions-tab"
            mat-tab-label
            >
            {{ 'Supply transactions' | translate }}
        </ng-template>
        <!-- [tableClasses]="['mat-elevation-z0']" -->
        <!-- style="padding: 16px;" -->
        <div
            mat-tab-content
            >
            <app-supply-transactions
                class="width-100"
                [showActions]="true"
                [showTabGroup]="false"
                [filter]="{}"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                (edit)="goToSupplyTransaction($event)"
                #supply_transactions
                >
            </app-supply-transactions>
        </div>
    </mat-tab>
</mat-tab-group>
