<mat-tab-group #tabGroup>
    <mat-tab>
        <ng-template
            id="fields-tab"
            mat-tab-label
            >
            Fields
        </ng-template>
        <div
            fxLayout="row"
            fxLayoutAlign="center start"
            fxLayoutGap="16px"
            class="width-100 app-basic-padding"
            mat-tab-content
            >
            <app-table
                fxFlex="1 1 100"
                *ngIf="fields.results"
                [service]="fieldsService"
                [columns]="columns"
                [rows]="fields.results"
                (edit)="goToElement($event.id)"
                [collection]="fields"
                >
            </app-table>
            <app-responsive-actions
                *ngIf="showActions"
                #responsiveActions
                [actions]="actions_model"
                (actionClick)="actionClick($event)"
                >
            </app-responsive-actions>
        </div>
    </mat-tab>
</mat-tab-group>
