<div
    class="app-basic-padding"
    ngStyle.lt-md="{ 'margin-bottom': '48px'}"
    fxLayout="row wrap"
    fxLayoutGap="16px"
    fxLayout.lt-md="column"
    ngClass.gt-sm="height-100 width-100"
    ngClass.lt-sm="width-100">
    <!-- fxFlex="1 1 auto" -->
    <div
        fxFlexOrder.lt-md="3"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutAlign.lt-md="start center"
        fxFlex.gt-sm="calc(50 - 8px)"
        fxFlex.lt-md="100"
        fxLayoutGap="16px"
        class="height-100"
        >
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="start center" fxLayoutGap="16px">
            <div
                *ngFor="let field of fields?.results"
                fxLayout="column"
                fxLayoutAlign="start center"
                fxLayoutGap="8px grid"
                fxFlex.xs="100"
                >
                <ngx-avatar
                    [name]="field.name"
                    (clickOnAvatar)="goToField(field)"
                    size="100"
                    style="cursor: pointer"
                    >
                </ngx-avatar>
                <h4 class="mat-subheading-2">{{ field.name }}</h4>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start center"
                fxLayoutGap="8px grid"
                fxFlex.xs="100"
                [routerLink]="'../fields/0'"
                >
                <ngx-avatar
                    name="+"
                    (clickOnAvatar)="goToField(field)"
                    size="100"
                    style="cursor: pointer"
                    >
                </ngx-avatar>
                <h4 class="mat-subheading-2">Add new field</h4>
            </div>
        </div>
    </div>
    <mat-divider [vertical]="true" [fxHide.lt-md]="true"></mat-divider>
    <mat-divider [fxHide.gt-sm]="true" fxFlexOrder="2"></mat-divider>
    <!-- fxFlex="1 1 auto" -->
    <div
        fxFlexOrder.lt-md="1"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex.gt-sm="calc(50 - 8px)"
        fxFlex.lt-md="100"
        fxLayoutGap="16px"
        class="height-100"
        >
        <button
            mat-raised-button
            fxLayout="row"
            fxLayoutAlign="start center"
            color="accent"
            [ngStyle.gt-sm]="{ width: '200px', height: '48px', 'font-size': '16px' }"
            [ngStyle.lt-md]="{ width: '100%', height: '48px' }"
            *ngFor="let link of links"
            (click)="goToSection(link.section)"
            >
            <mat-icon
                [ngStyle.gt-sm]="{ width: '24px', height: '24px', 'font-size': '24px' }"
                >
                {{ link.icon }}
            </mat-icon>
            {{ link.text }}
        </button>
    </div>
</div>
