<div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="16px"
    class="width-100"
    >
    <app-table
        fxFlex="1 1 100"
        *ngIf="profiles.results"
        [columns]="columns"
        [rows]="profiles.results"
        (rowClick)="goToElement($event)"
        [collection]="profiles"
    >
    </app-table>
    <mat-list fxHide.lt-md>
        <button
            mat-raised-button
            name="new"
            color="primary"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="createElement()"
            >
            <!-- style="height: 56px; width:56px" -->
            <!-- <button
                mat-fab
                name="new"
                color="primary"
                fxLayout="row"
                fxLayoutAlign="center center"
                >
            </button> -->
            <mat-icon>add</mat-icon>
            New profile
        </button>
    </mat-list>
</div>
