<!-- 'name', 'address', 'phone', 'web' -->
<!-- Contact -->
<mat-form-field>
    <input matInput type="text" formControlName="name">
</mat-form-field>

<!-- 'country', 'state', 'city', 'street_name', 'street_number', 'floor', 'department', 'zip', 'details' -->
<!-- Address -->
<mat-form-field>
    <input matInput type="text" formControlName="country">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="state">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="city">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="zip">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="street_name">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="street_number">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="floor">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="department">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="details">
</mat-form-field>

<!-- 'country_code', 'area_code', 'phone_number' -->
<!-- Phone -->
<mat-form-field>
   <input matInput type="text" formControlName="country_code">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="area_code">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="phone_number">
</mat-form-field>

<!-- 'social_network', 'link' -->
<!-- Social media -->
<mat-form-field>
   <input matInput type="text" formControlName="social_network">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="link">
</mat-form-field>

<!-- 'email', 'web_url', 'social_media' -->
<!-- Web -->
<mat-form-field>
   <input matInput type="text" formControlName="email">
</mat-form-field>
<mat-form-field>
   <input matInput type="text" formControlName="web_url">
</mat-form-field>
