<mat-tab-group #tabGroup>
    <mat-tab>
        <ng-template
            id="supplies"
            mat-tab-label
            >
            {{ 'Supplies' | translate }}
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToProfile($event)" -->
            <app-supplies
                class="width-100"
                [showActions]="true"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                (createdSupplyTransaction)="reloadSupplyTransactions()"
                (createdSupplyTransaction)="reloadReceipts()"
                #supplies
                >
            </app-supplies>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template
            id="receipts"
            mat-tab-label
            >
            {{ 'Receipts' | translate }}
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToCharge($event)" -->
            <app-receipts
                class="width-100"
                [showTabGroup]="false"
                [showActions]="true"
                [createFromDialog]="true"
                #receipts
                >
            </app-receipts>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template
            id="supply_transactions"
            mat-tab-label
            >
            {{ 'Supply Transactions' | translate }}
        </ng-template>
        <div
            class="app-basic-padding"
            mat-tab-content
            >
            <!-- (edit)="goToCharge($event)" -->
            <app-supply-transactions
                class="width-100"
                [showTabGroup]="false"
                [showActions]="true"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                #supply_transactions
                >
            </app-supply-transactions>
        </div>
    </mat-tab>
</mat-tab-group>
