<form fxLayout="row wrap" fxLayoutGap="16px grid" [formGroup]="field_plot_form">
    <mat-form-field
        fxFlex.gt-sm="calc(50% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Code' | translate }}" formControlName="code">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(50% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Label' | translate }}" formControlName="label">
    </mat-form-field>
    <!-- [disabled]="true" add disabled to autocomplete -->
    <app-drf-collection-autocomplete
        fxFlex.gt-sm="calc(50% - 8px)"
        [service]="fieldsService"
        [activeOption]="field"
        searchField="name"
        placeholder="{{ 'Field' | translate }}"
        (optionSelected)="updateForm('field', $event.option.value)"
        >
    </app-drf-collection-autocomplete>
    <mat-form-field
        fxFlex.gt-sm="calc(50% - 8px)"
        >
        <mat-select placeholder="{{ 'Status' | translate }}" formControlName="status">
            <mat-option
                *ngFor="let status_value of ['active', 'inactive']"
                [value]="status_value"
                >
                {{ status_value }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <h3 class="mat-subheading-2" fxFlex="100">{{ 'Plot measure data' | translate }}</h3>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="number" placeholder="{{ 'Area' | translate }}" formControlName="area">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <mat-select placeholder="{{ 'Area measure unit' | translate }}" formControlName="area_measure_unit">
            <!-- IMPORTANT: have to use id as value because measure units is not a nested resource, it's a primary key -->
            <mat-option
                *ngFor="let unit of area_measure_units?.results"
                [value]="unit.id"
                >
                {{ unit.id }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="number" placeholder="{{ 'Field elements (qty)' | translate }}" formControlName="field_rows_qty">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="number" placeholder="{{ 'Field elements distance' | translate }}" formControlName="field_rows_distance">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <mat-select placeholder="{{ 'Field elements distance measure unit' | translate }}" formControlName="field_rows_distance_measure_unit">
            <!-- IMPORTANT: have to use id as value because measure units is not a nested resource, it's a primary key -->
            <mat-option
                *ngFor="let unit of length_measure_units?.results"
                [value]="unit.id"
                >
                {{ unit.id }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <h3 class="mat-subheading-2" fxFlex="100">{{ 'Plants data' | translate }}</h3>
    <mat-form-field
        fxFlex.gt-sm="calc(50% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Graft' | translate }}" formControlName="graft">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(50% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Foot' | translate }}" formControlName="foot">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="number" placeholder="{{ 'Plants distance' | translate }}" formControlName="plants_distance">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <mat-select placeholder="{{ 'Plants distance measure unit' | translate }}" formControlName="plants_distance_measure_unit">
            <!-- IMPORTANT: have to use id as value because measure units is not a nested resource, it's a primary key -->
            <mat-option
                *ngFor="let unit of length_measure_units?.results"
                [value]="unit.id"
                >
                {{ unit.id }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="number" placeholder="{{ 'Plantation year' | translate }}" formControlName="plantation_year">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Plants origin' | translate }}" formControlName="plants_origin">
    </mat-form-field>
    <h3 class="mat-subheading-2" fxFlex="100">{{ 'Additional data' | translate }}</h3>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <mat-select placeholder="{{ 'Anit hail net' | translate }}" formControlName="anit_hail_net">
            <mat-option
                *ngFor="let anit_hail_net_option of [{option_name: 'Yes', value: true}, {option_name: 'No', value: false}]"
                [value]="anit_hail_net_option.value"
                >
                {{ anit_hail_net_option.option_name | translate }}
            </mat-option>
        </mat-select>
        <!-- <input matInput type="text" placeholder="Anit hail net" formControlName="anit_hail_net"> -->
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Irrigation' | translate }}" formControlName="irrigation">
    </mat-form-field>
    <mat-form-field
        fxFlex.gt-sm="calc(33% - 8px)"
        >
        <input matInput type="text" placeholder="{{ 'Conduction system' | translate }}" formControlName="conduction_system">
    </mat-form-field>
    <mat-form-field
        fxFlex="100"
        >
        <textarea matInput placeholder="{{ 'Details' | translate }}" formControlName="details"></textarea>
    </mat-form-field>
</form>
