<div class="app-basic-padding" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <mat-icon color="primary">account_circle</mat-icon>
    <h3 class="mat-subheading-1 margin-0">
        Hola {{ user?.first_name }}, selecciona una compañía para comenzar a trabajar
    </h3>
</div>
<mat-divider></mat-divider>
<!-- class="mat-elevation-z2" -->
<mat-list
    *ngIf="user && companies && companies.results"
    >
    <mat-list-item
        *ngFor="let company of companies.results"
        (click)="goToCompany(company)"
        >
        <mat-icon mat-list-icon>work</mat-icon>
        <h4 mat-line>{{ company.name }}</h4>
        <p mat-line> {{ company.details }} </p>
        <button
            mat-icon-button
            (click)="$event.stopPropagation(); goToCompanyEdit(company.id)"
            >
            <mat-icon>settings</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
