<ng-template #supplyTransactionsList>
    <div
        fxLayout="row"
        fxLayoutAlign="center start"
        fxLayoutGap="16px"
        class="width-100 app-basic-padding"
        >
        <app-table
            *ngIf="supply_transactions.results"
            fxFlex="1 1 100"
            [service]="supplyTransactionsService"
            [columns]="columns"
            [rows]="supply_transactions.results"
            [collection]="supply_transactions"
            [tableClasses]="tableClasses"
            (edit)="goToElement($event)"
            >
        </app-table>
        <div fxFlex fxHide.lt-md>
            <mat-list
                *ngIf="showActions"
                >
                <mat-list-item>
                    <!-- [routerLink]="0" -->
                    <button
                        mat-raised-button
                        name="new_input"
                        color="primary"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        (click)="createInputTransaction()"
                        >
                        <!-- style="height: 56px; width:56px" -->
                        <!-- <button
                            mat-fab
                            name="new"
                            color="primary"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                            >
                        </button> -->
                        <mat-icon>add</mat-icon>
                        New input transaction
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <!-- [routerLink]="0" -->
                    <button
                        mat-raised-button
                        name="new_output"
                        color="primary"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        (click)="createOutputTransaction()"
                        >
                        <!-- style="height: 56px; width:56px" -->
                        <!-- <button
                            mat-fab
                            name="new"
                            color="primary"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                            >
                        </button> -->
                        <mat-icon>add</mat-icon>
                        New output transaction
                    </button>
                </mat-list-item>
            </mat-list>
            <form
                [formGroup]="filters_form"
                >
                <mat-list>
                    <h3 mat-subheader>Filters</h3>
                    <mat-list-item>
                        <mat-form-field>
                            <mat-select placeholder="Status" formControlName="status">
                                <mat-option *ngFor="let option of status_options" [value]="option.value">{{ option.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-form-field>
                            <mat-select placeholder="Supply" formControlName="supply">
                                <mat-option [value]="undefined">Todos</mat-option>
                                <mat-option *ngFor="let supply of supplies?.results" [value]="supply.id">{{ supply.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </form>
        </div>
    </div>
</ng-template>

<mat-tab-group #tabGroup *ngIf="showTabGroup">
    <mat-tab>
        <ng-template
            id="supply_transactions-tab"
            mat-tab-label
            >
            Supply transactions
        </ng-template>
        <ng-container *ngTemplateOutlet="supplyTransactionsList"></ng-container>
    </mat-tab>
</mat-tab-group>

<ng-container *ngIf="!showTabGroup">
    <ng-container *ngTemplateOutlet="supplyTransactionsList"></ng-container>
</ng-container>
