<form class="height-100 app-basic-padding" [formGroup]="task_form" fxLayout="column" fxLayoutAlign="start center">
    <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field *ngIf="fields">
        <mat-select placeholder="Field" formControlName="field">
            <mat-option *ngFor="let field of fields.results" value="field">{{ field.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="task_types">
        <mat-select placeholder="Task type" formControlName="task_type">
            <mat-option *ngFor="let task_type of task_types.results" value="task_type">{{ task_type.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Priority" formControlName="priority">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Worked time" formControlName="duration">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Status" formControlName="status">
    </mat-form-field>
    <mat-form-field *ngIf="profiles">
        <mat-select placeholder="Supervised by" formControlName="supervised_by">
            <mat-option *ngFor="let profile of profiles.results" value="profile">{{ profile.first_name + profile.last_name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="profiles">
        <mat-select placeholder="Assigned worker" formControlName="assigned_worker">
            <mat-option *ngFor="let profile of profiles.results" value="profile">{{ profile.first_name + profile.last_name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Details" formControlName="details"></textarea>
    </mat-form-field>
    <!-- TODO: make datepicker functional or try a better implementation of time handling -->
    <mat-form-field>
        <input matInput [matDatepicker]="started_picker" placeholder="Started at">
        <mat-datepicker-toggle matSuffix [for]="started_picker"></mat-datepicker-toggle>
        <mat-datepicker #started_picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="finished_picker" placeholder="Finished at">
        <mat-datepicker-toggle matSuffix [for]="finished_picker"></mat-datepicker-toggle>
        <mat-datepicker #finished_picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="tools">
        <mat-select placeholder="Tool" formControlName="tool">
            <mat-option *ngFor="let tool of tools.results" value="tool">{{ tool.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="field_elements">
        <mat-select placeholder="From element" formControlName="from_element">
            <mat-option *ngFor="let field_element of field_elements.results" value="field_element">{{ field_element.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="field_elements">
        <mat-select placeholder="Until element" formControlName="to_element">
            <mat-option *ngFor="let field_element of field_elements.results" value="field_element">{{ field_element.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox>Alert</mat-checkbox>
    <mat-checkbox>Completed</mat-checkbox>
    <button mat-button (click)="save()">Save</button>
</form>
