<mat-sidenav-container class="height-100">
    <mat-sidenav #sidenav mode="over" [opened]="sections.length > 0" role="navigation">
        <mat-nav-list>
            <h3 mat-subheader>Secciones</h3>
            <mat-list-item (click)="goToSection(link.section)" *ngFor="let link of sections">
                <mat-icon mat-list-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
                <h4 mat-line>{{ link.text }}</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="height-100" fxLayout="column" fxLayoutAlign="space-between stretch">
            <mat-toolbar fxHide.lt-md color="primary">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                        <button
                            *ngIf="sections.length > 0"
                            type="button"
                            aria-label="Toggle sidenav"
                            mat-icon-button
                            (click)="sidenav.toggle()"
                            >
                            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                        </button>
                        <h3 class="mat-subheading-2">
                            {{ navigationService.title | translate | titlecase }}
                        </h3>
                    </div>
                    <!-- <button mat-icon-button (click)="goToParent()"><mat-icon>arrow_back</mat-icon></button> -->
                    <button mat-icon-button (click)="goToParent()"><mat-icon>arrow_left_circle</mat-icon></button>
                </mat-toolbar-row>
            </mat-toolbar>
            <!-- *ngIf="show_title" -->
            <mat-toolbar *ngIf="navigationService.title" fxHide.gt-xs class="mobile-title-bar">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="mat-subheading-2">
                        {{ navigationService.title | translate | titlecase }}
                    </h3>
                    <!-- <button mat-icon-button (click)="goToParent()"><mat-icon>arrow_back</mat-icon></button> -->
                    <button mat-icon-button (click)="goToParent()"><mat-icon>arrow_left_circle</mat-icon></button>
                </mat-toolbar-row>
            </mat-toolbar>
            <!-- <mat-toolbar color="primary" id="main-toolbar" ngClass.gt-xs="background-transparent" ngClass.xs="position-absolute bottom inherit-font">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <h3 class="mat-subheading-2" fxHide.xs>{{ route_data.title }}</h3>
                    <app-expandable-input></app-expandable-input>
                </mat-toolbar-row>
            </mat-toolbar> -->
            <div
                style="overflow: scroll"
                class="height-100"
                fxFlex="1 1 auto"
                fxLayout.gt-sm="column"
                fxLayoutAlign.gt-sm="start center"
                >
                <div
                    [ngStyle.gt-sm]="{ width: '980px', 'margin-top': '56px', height: '100%' }"
                    ngClass.lt-md="width-100"
                    >
                    <!-- ngClass.gt-sm="mat-elevation-z2 app-basic-padding" -->
                    <ng-content></ng-content>
                </div>
            </div>
            <!-- <mat-toolbar color="primary" id="main-toolbar" style="position: sticky; bottom: 0"> -->
            <!-- TODO: imkprove toolbar hide and show option -->
            <mat-toolbar fxHide.gt-sm color="primary" id="main-toolbar" *ngIf="sections.length > 0 || nav_actions">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <button
                        *ngIf="sections.length > 0"
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="sidenav.toggle()"
                        >
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <h3 class="mat-subheading-2" fxHide.xs>{{ route_data.title }}</h3>
                    <span fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
                        <app-expandable-input *ngIf="nav_actions.search" (textChange)="actionClick('search', $event)"></app-expandable-input>
                        <button mat-icon-button name="add" *ngIf="nav_actions.add" (click)="actionClick('add')"><mat-icon>add</mat-icon></button>
                        <button mat-icon-button name="delete" *ngIf="nav_actions.delete" (click)="actionClick('delete')"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button name="save" *ngIf="nav_actions.save" (click)="actionClick('save')"><mat-icon>save</mat-icon></button>
                        <button mat-icon-button name="cancel" *ngIf="nav_actions.cancel" (click)="actionClick('cancel')"><mat-icon>cancel</mat-icon></button>
                        <button mat-icon-button name="menu" *ngIf="nav_actions.menu" (click)="actionClick('menu')"><mat-icon>menu</mat-icon></button>
                    </span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
