<mat-sidenav-container class="height-100">
    <mat-sidenav #sidenav mode="over" [opened]="true" role="navigation">
        <mat-nav-list>
            <h3 mat-subheader>Secciones</h3>
            <mat-list-item (click)="goToSection(section.key)" *ngFor="let section of sections">
                <mat-icon mat-list-icon *ngIf="section.icon">section.icon</mat-icon>
                <h4 mat-line>{{ section.name }}</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <h3 class="mat-subheading-2 app-basic-padding" fxHide.gt-xs>{{ route_data.title }} Acá va la ruta</h3>
        <mat-toolbar color="primary" id="main-toolbar" ngClass.gt-xs="background-transparent" ngClass.xs="position-absolute bottom inherit-font">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <h3 class="mat-subheading-2" fxHide.xs>{{ route_data.title }}</h3>
                <app-expandable-input></app-expandable-input>
                <!-- <mat-form-field appearance="standard">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput type="search" placeholder="Buscar" [(ngModel)]="search_value">
                    <button mat-icon-button *ngIf="search_value" matSuffix aria-label="Clear" (click)="search_value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field> -->
                <!-- <span><img src="./assets/image.png"></span> -->
            </mat-toolbar-row>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
