@import '~@angular/material/theming';
@include mat-core();

.background-transparent {
    background-color: transparent !important;
}

.position-absolute {
    position: absolute !important;
}

.bottom {
    bottom: 0;
}

.inherit-font {
    font: inherit !important;
}

.mobile-title-bar {
    h3 {
        // color: white;
        // background-color: mat-color($mat-green, 700);
        color: mat-color($mat-green, 700);
        font-weight: 700;
    }
}
