<mat-sidenav-container class="height-100">
    <mat-sidenav #sidenav mode="over" [opened]="sections.length > 0" role="navigation">
        <mat-nav-list>
            <h3 mat-subheader>Secciones</h3>
            <mat-list-item (click)="goToSection(link.section)" *ngFor="let link of sections">
                <mat-icon mat-list-icon *ngIf="link.icon">{{ link.icon }}</mat-icon>
                <h4 mat-line>{{ link.text }}</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="height-100" fxLayout="column" fxLayoutAlign="space-between stretch">
            <h3 class="mat-subheading-2 app-basic-padding" fxHide.gt-xs>{{ route_data.title }} Acá va la ruta</h3>
            <!-- <mat-toolbar color="primary" id="main-toolbar" ngClass.gt-xs="background-transparent" ngClass.xs="position-absolute bottom inherit-font">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <h3 class="mat-subheading-2" fxHide.xs>{{ route_data.title }}</h3>
                    <app-expandable-input></app-expandable-input>
                </mat-toolbar-row>
            </mat-toolbar> -->
            <div style="overflow: scroll; height: auto" fxFlex="1 1 auto">
                <ng-content></ng-content>
            </div>
            <!-- <mat-toolbar color="primary" id="main-toolbar" style="position: sticky; bottom: 0"> -->
            <!-- TODO: imkprove toolbar hide and show option -->
            <mat-toolbar color="primary" id="main-toolbar" *ngIf="sections.length > 0">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                    <button
                        *ngIf="sections.length > 0"
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="sidenav.toggle()"
                        >
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>
                    <h3 class="mat-subheading-2" fxHide.xs>{{ route_data.title }}</h3>
                    <app-expandable-input></app-expandable-input>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
