/* You can add global styles to this file, and also import other style files */

@import "assets/styles/material-custom-styles.scss";
@import "assets/styles/material-theme.scss";

// Change chrome autofill colors

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// Global classes

.height-100 {
    height: 100% !important;
}

.width-100 {
    width: 100% !important;
}

.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.app-basic-padding {
    padding: 8px !important;
}

.app-form {
    h3 {
        padding-top: 16px !important;
    }
}
