<h1
    mat-dialog-title
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    >
    <mat-icon>
        {{ data.task?.priority > 5 ? 'arrow_upward' : 'arrow_downward' }}
    </mat-icon>
    {{ data.task?.name }}
</h1>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="fieldDataFormGroup">
    <form [formGroup]="fieldDataFormGroup">
      <ng-template matStepLabel>{{ 'Field' | translate }}</ng-template>
      <app-flex-form-container>
          <!-- <app-drf-collection-autocomplete
              fxFlex.gt-sm="calc(25% - 8px)"
              [service]="fieldsService"
              [activeOption]="data.task?.field"
              searchField="name"
              placeholder="Field"
              (optionSelected)="updateForm(fieldDataFormGroup, 'field', $event.option.value)"
              >
          </app-drf-collection-autocomplete> -->

          <app-drf-collection-autocomplete
              fxFlex.gt-sm="calc(25% - 8px)"
              [service]="fieldPlotsService"
              [filters]="data.task?.field ? { field: data.task.field.id } : {}"
              [activeOption]="data.task?.field_plot"
              searchField="label"
              placeholder="Field plot"
              (optionSelected)="updateForm(fieldDataFormGroup, 'field_plot', $event.option.value)"
              >
          </app-drf-collection-autocomplete>
          <mat-form-field
              fxFlex.gt-sm="calc(25% - 8px)"
              >
              <input matInput type="number" placeholder="From row" formControlName="from_row">
          </mat-form-field>
          <mat-form-field
              fxFlex.gt-sm="calc(25% - 8px)"
              >
              <input matInput type="number" placeholder="To row" formControlName="to_row">
          </mat-form-field>
          <mat-form-field
              fxFlex="100"
              >
              <textarea matInput placeholder="Details" formControlName="details"></textarea>
          </mat-form-field>
      </app-flex-form-container>
      <div align="end">
        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="workerAndTimeFormGroup">
    <form [formGroup]="workerAndTimeFormGroup">
      <ng-template matStepLabel>{{ 'Time' | translate }}</ng-template>
      <app-flex-form-container>
          <app-drf-collection-autocomplete
              fxFlex.gt-sm="calc(50% - 8px)"
              [service]="profilesService"
              [activeOption]="data.task?.assigned_worker"
              searchField="first_name"
              placeholder="Assigned worker"
              (optionSelected)="updateForm(workerAndTimeFormGroup, 'assigned_worker', $event.option.value)"
              >
          </app-drf-collection-autocomplete>
          <mat-form-field
              fxFlex.gt-sm="calc(33% - 8px)"
              >
              <input matInput [matDatepicker]="started_picker" placeholder="Started at" formControlName="started_at">
              <mat-datepicker-toggle matSuffix [for]="started_picker"></mat-datepicker-toggle>
              <mat-datepicker #started_picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
              fxFlex.gt-sm="calc(33% - 8px)"
              >
              <input matInput [matDatepicker]="finished_picker" placeholder="Finished at" formControlName="finished_at">
              <mat-datepicker-toggle matSuffix [for]="finished_picker"></mat-datepicker-toggle>
              <mat-datepicker #finished_picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
              fxFlex.gt-sm="calc(33% - 8px)"
              >
              <input matInput type="number" placeholder="Worked time" formControlName="duration">
          </mat-form-field>
      </app-flex-form-container>
      <div align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="taskTypeAndToolsFormGroup">
    <form [formGroup]="taskTypeAndToolsFormGroup">
      <ng-template matStepLabel>{{ 'Tools' | translate }}</ng-template>
      <app-flex-form-container>
          <mat-form-field
              *ngIf="task_types"
              fxFlex.gt-sm="calc(50% - 8px)"
              >
              <mat-select
                    #taskTypesSelect
                    placeholder="Task type"
                    formControlName="task_type"
                    [value]="taskTypeAndToolsFormGroup.value.task_type"
                    [compareWith]="compareById"
                    >
                    <mat-option *ngFor="let task_type of task_types.results" [value]="task_type">{{ task_type.name }}</mat-option>
              </mat-select>
          </mat-form-field>
          <app-drf-collection-chips-autocomplete
              fxFlex.gt-sm="calc(50% - 8px)"
              [service]="toolsService"
              [filters]="taskTypeAndToolsFormGroup.value.task_type ? { task_type: taskTypeAndToolsFormGroup.value.task_type.id } : {}"
              [activeOptions]="data.task?.tool"
              searchField="name"
              placeholder="Tool"
              (optionSelected)="updateForm(taskTypeAndToolsFormGroup, 'tool', $event.option.value)"
              >
          </app-drf-collection-chips-autocomplete>
      </app-flex-form-container>
      <div align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="taskStatusConfirmationFormGroup">
    <ng-template matStepLabel>{{ 'Confirm and save' | translate }}</ng-template>
    Please confirm data before saving.
    <form [formGroup]="taskStatusConfirmationFormGroup">
        <app-flex-form-container>
            <mat-form-field
                fxFlex.gt-sm="calc(25% - 8px)"
                >
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of status_options" [value]="status">
                        {{ status | translate }}
                    </mat-option>
                </mat-select>
                <!-- <input matInput type="text" placeholder="Status" formControlName="status"> -->
            </mat-form-field>
        </app-flex-form-container>
    </form>
    <div align="end">
      <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
      <button mat-button (click)="stepper.reset()">{{ 'Reset' | translate }}</button>
      <button mat-button (click)="save()">{{ 'Save' | translate }}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
