<mat-tab-group #tabGroup (selectedTabChange)="selectedTabChange($event)">
    <mat-tab>
        <ng-template
            id="personl-data-tab"
            mat-tab-label
            >
            {{ 'Personal data' | translate }}
        </ng-template>
        <div
            style="padding: 16px;"
            fxLayout="row"
            fxLayoutGap="16px"
            mat-tab-content
            >
            <mat-accordion
                class="width-100"
                >
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header fxLayout="row">
                        <mat-panel-title>
                            {{ 'Personal data' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form
                        fxFlex="1 1 100"
                        class="height-100 app-form"
                        [formGroup]="profile_form"
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        >
                        <app-flex-form-container>
                            <mat-checkbox
                                fxFlex="100"
                                [checked]="profile?.pinned"
                                (change)="updateForm('pinned', $event.checked)"
                                >
                                {{ 'Pin to dashboard' | translate }}
                            </mat-checkbox>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Name' | translate }}" formControlName="first_name">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Last name' | translate }}" formControlName="last_name">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'CUIT/CUIL' | translate }}" formControlName="cuit">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput [matDatepicker]="birth_date_picker" placeholder="{{ 'Birth date' | translate }}" formControlName="birth_date">
                                <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
                                <mat-datepicker #birth_date_picker></mat-datepicker>
                            </mat-form-field>
                            <!-- <h3 class="mat-subheading-2">Company profile data</h3> -->
                            <mat-form-field *ngIf="roles"
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Role' | translate }}" formControlName="role" [compareWith]="compareById">
                                    <mat-option *ngFor="let role of roles.results" [value]="role">{{ role.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <input matInput type="number" placeholder="{{ 'Daily working hours' | translate }}" formControlName="daily_working_hours">
                            </mat-form-field>
                            <mat-form-field *ngIf="fields"
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Field' | translate }}" formControlName="field" [compareWith]="compareById">
                                    <mat-option [value]="undefined">{{ 'Unassigned' | translate }}</mat-option>
                                    <mat-option *ngFor="let field of fields.results" [value]="field">{{ field.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                *ngIf="charges"
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Charge' | translate }}" formControlName="charge" [compareWith]="compareById">
                                    <mat-option [value]="undefined">{{ 'Unassigned' | translate }}</mat-option>
                                    <mat-option *ngFor="let charge of charges.results" [value]="charge">{{ charge.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                *ngIf="contract_types"
                                fxFlex.gt-sm="calc(33% - 8px)"
                                >
                                <mat-select placeholder="{{ 'Contract type' | translate }}" formControlName="contract_type" [compareWith]="compareById">
                                    <mat-option [value]="undefined">{{ 'Unassigned' | translate }}</mat-option>
                                    <mat-option *ngFor="let contract_type of contract_types.results" [value]="contract_type">{{ contract_type.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </app-flex-form-container>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ 'Related user' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form
                        fxFlex="1 1 100"
                        class="height-100 app-form"
                        [formGroup]="related_user_form"
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        >
                        <app-flex-form-container>
                            <mat-checkbox
                                #updateRelatedUser
                                fxFlex.gt-sm="calc(50% - 8px)"
                                >
                                {{ 'Create/update related user' | translate }}
                            </mat-checkbox>
                            <mat-form-field
                                fxFlex.gt-sm="calc(50% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Username' | translate }}" formControlName="username">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(50% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Password' | translate }}" formControlName="password">
                            </mat-form-field>
                            <mat-form-field
                                fxFlex.gt-sm="calc(50% - 8px)"
                                >
                                <input matInput type="text" placeholder="{{ 'Repeat password' | translate }}" formControlName="repeat_password">
                            </mat-form-field>
                        </app-flex-form-container>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ 'Contact data' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-contact-form
                        class="width-100"
                        #contactForm
                        [contact]="profile.contact"
                        (contactUpdate)="updateContact($event)"
                        >
                    </app-contact-form>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-list fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" fxHide.lt-md>
                <button
                    mat-raised-button
                    name="save"
                    color="primary"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    (click)="save()"
                    >
                    <!-- style="height: 56px; width:56px" -->
                    <!-- <button
                        mat-fab
                        name="new"
                        color="primary"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        >
                    </button> -->
                    <mat-icon>save</mat-icon>
                    {{ 'Save' | translate }}
                </button>
                <button
                    mat-raised-button
                    name="cancel"
                    color="primary"
                    style="background-color: #f44336 !important"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    [routerLink]="'..'"
                    >
                    <!-- style="height: 56px; width:56px" -->
                    <!-- <button
                    mat-fab
                    name="new"
                    color="primary"
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    >
                    </button> -->
                    <mat-icon>cancel</mat-icon>
                    {{ 'Cancel' | translate }}
                </button>
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template
            id="tasks-tab"
            mat-tab-label
            >
            {{ 'Tasks' | translate }}
        </ng-template>
        <!-- [tableClasses]="['mat-elevation-z0']" -->
        <!-- style="padding: 16px;" -->
        <div
            mat-tab-content
            >
            <app-tasks
                class="width-100"
                [showActions]="true"
                [showTabGroup]="false"
                [filter]="{ 'assigned_worker': this.profile.id }"
                [overrideRowClick]="true"
                [createFromDialog]="true"
                (edit)="goToTask($event)"
                #tasks
                >
            </app-tasks>
        </div>
    </mat-tab>
</mat-tab-group>
